* {
	box-sizing :border-box;
	font-family :Maven Pro;
	margin :0;
	padding :0;
}
a {
	text-decoration :none;
}
.nav-container {
	align-items :center;
	background-color :rgba(3, 3, 3, 0.918);
	display :flex;
	flex-direction :row;
	justify-content :center;
	padding :5px;
	position :relative;
	text-align :center;
	width :100%;
}
.logo-word, nav {
	flex :1;
}
.logo-word > h1 {
	color :white;
	font-family :'Segoe UI';
}
.nav-area {
	list-style :none;
}
.nav-area > li {
	display :inline-block;
	margin :0 5px;
	padding :0 15px;
	text-transform :uppercase;
}
.nav-area > li > a {
	color :white;
	font-family :'Segoe UI';
	font-size :20px;
	transition :.3s;
}
a.nav-items:hover {
	text-decoration :underline;
	text-decoration-color :red;
	transition :0.8s;
}
.menu {
	display :none;
}
/*-----MAIN CONTAINER-----*/
.main-container {
	background-image :url('background/bg.jpg');
	background-repeat :no-repeat;
	background-size :cover;
	height :600px;
	position :relative;
	width :auto;
}
.main-container {
	align-items :center;
	display :flex;
	flex-direction :column;
	justify-content :center;
	text-align :center;
}
.myprofile {
	margin :20px auto;
}
.main-box h3 {
	color :white;
	line-height :1.5;
}
.main-box > h1 {
	color :white;
	font-size :40px;
	font-weight :700;
	text-transform :uppercase;
}
.icons {
	color :white;
	display :inline-block;
	margin :8px 10px;
}
.icons:hover {
	color :rgb(91, 128, 184);
}
.btn-more {
	background-color :rgb(114, 114, 255);
	border :1px solid rgb(255, 255, 255);
	border :none;
	border-radius :20px;
	margin-top :15px;
	outline-style :none;
	padding :5px;
}
.btn-text {
	color :white;
	font-size :22px;
	font-weight :bold;
}
.btn-more:hover {
	background-color :rgb(22, 22, 37);
	transform :scale(1.10);
	transition :.4s;
}
/*-----INFO CONTAINER-----*/
.info-container {
	background-color :rgb(0, 0, 0);
	height :auto;
	margin-top :1%;
	width :100%;
}
.personal {
	background-color :rgba(40, 36, 36, 0.315);
	color :white;
	display :flex;
	margin :0 10%;
	padding :20px;
}
.basic-info {
	flex :1;
	height :auto;
	margin :0 10px;
}
.basic-info h1, .about-info h1 {
	color :#00ec9e;
}
.about-info {
	flex :1;
	height :auto;
	margin :0 10px;
}
/*-----FAV CONTAINER-----*/
.fav-container {
	background :linear-gradient(to bottom right, #df6667, #513b61);
	height :auto;
	margin-top :1%;
	width :100%;
}
.game-box {
	align-items :center;
	display :flex;
	height :auto;
	justify-content :center;
	margin :0 10%;
}
.game-img {
	flex :1;
	height :auto;
	width :100%;
}
.game-img img {
	height :auto;
	width :100%;
}
.about-game {
	flex :1;
	height :auto;
	overflow :hidden;
	text-align :center;
	width :100%;
}
.about-game h1 {
	color :black;
	font-size :40px;
}
.about-game p {
	font-size :25px;
	line-height :2;
	margin :10px;
}
.gallery-container {
	padding :10px;
	position :relative;
}
.gallery-container h1 {
	color :black;
	text-align :center;
}
.gallery-box {
	display :flex;
	flex-wrap :wrap;
	justify-content :center;
	margin :0 10%;
}
.gallery-box img {
	filter :grayscale(80%);
	padding :10px;
}
.images:hover {
	filter :grayscale(0);
	transform :scale(1.05);
	transition :.5s;
}
footer {
	background-color :#353131;
	text-align :center;
}
footer > h1 {
	color :white;
}
.message-box , .message-box > a {
	color :white;
	margin :2px;
}
@media screen and (max-width: 799px) {
	.personal {
		flex-direction :column;
		margin :5%;
	}
	.fav-container {
		flex-direction :column;
		height :auto;
	}
	.nav-area {
		display :none;
	}
	.menu {
		color :white;
		display :block;
		margin-right :10px;
		text-align :right;
	}
	.gallery img {
		filter :grayscale(0%);
	}
	.game-box {
		flex-direction :column;
	}
	.about-game p {
		font-size :20px;
		line-height :1.2;
		margin :10px;
	}
}
@media screen and (min-width: 800px) {
	.gallery-box {
		justify-content :center;
		margin :0 5%;
	}
	.gallery-box img {
		filter :grayscale(0%);
	}
	.about-game h1 {
		font-size :30px;
	}
	.about-game p {
		font-size :30px;
		line-height :1.25;
		margin :10px;
	}
}